<div class="mx-auto justify-center">    
  <h2 class="text-2xl font-bold">Log in</h2>

  <%= form_for resource, as: resource_name, builder: QuamundoFormBuilder,
    url: session_path(resource_name) do |f| %>

    <div class="field my-3 relative">
      <%= f.text_field_with_label(:email, type: :email) %>
    </div>

    <div class="field my-3 relative">
      <%= f.text_field_with_label(:password, type: :password) %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field my-3 mt-5 relative">
        <%= f.check_box :remember_me,
          placeholder: :remember_me,
          class: %Q[border-gray-300 border-2 text-black
                    focus:border-gray-300 focus:ring-black] %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions my-3 relative">
      <%= f.submit t('submit'),
        class: %Q[w-full rounded bg-blue-700 my-4 py-2 text-white] %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
