<%# TODO: Refactor to use turbo streams!? %>
<%# TODO: Close-Button for message boxes %>

<%= tag.div class: %Q[p-2 flex flex-col gap-2], id: 'flash-messages' do %>
  <%# Alerts first %>
  <% if flash.alert %>
    <div
      id="flash-alerts"
      class="
        border border-red-700 rounded-lg px-4 py-2 bg-red-100 text-red-800 w-full flex
        flex-col gap-2
      "
      data-controller="menu"
      data-menu-hidden-class="hidden"
      data-menu-target="menu"
    >

      <div class="flex flex-row">
        <h1 class="text-lg font-bold flex-grow"><%= t(".alert") %></h1>
        <button class="text-base" data-action="click->menu#hide">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
          </svg>

        </button>
      </div>

      <%= process_flash(:alert) do |msg| %>
        <p class="text-sm">
          <%= msg %>
        </p>
      <% end %>
    </div>
  <% end %>

  <%# Info second %>
  <% if flash.notice %>
    <div
      id="flash-notices"
      class="
        border border-green-700 rounded-lg px-4 py-2 bg-green-100 text-green-800 w-full
        flex flex-col gap-2
      "
      data-controller="menu"
      data-menu-hidden-class="hidden"
      data-menu-target="menu"
    >
      <div class="flex flex-row">
        <h1 class="text-lg font-bold flex-grow"><%= t(".notice") %></h1>
        <button class="text-base" data-action="click->menu#hide">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
          </svg>

        </button>
      </div>
      <%= process_flash(:notice) do |msg| %>
        <p class="text-sm">
          <%= msg %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
