<!DOCTYPE html>
<html class>
  <head>
    <title>Quamundo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font",
                            "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload",
                               defer: true %>
  </head>

  <body class="container mx-auto bg-white min-h-screen flex flex-col max-w-6xl">
    <%= render partial: 'shared/header' %>

    <main class="mt-28 px-5 flex min-h-full bg-yellow-100">
      <%= yield %>
    </main>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
